# Logs
logs
*.log
npm-debug.log*

# Diretórios de dependência
/node_modules/
/proxy-server/node_modules/

# Arquivos temporários
dist
build
.cache
.next

# Sistema operacional
.DS_Store
Thumbs.db

# Ambiente
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp